@import "../../assets/globals.scss";
.main-container {
  display: flex;
  height: calc(100vh - 50px); // Adjust based on the height of the top menu bar
}

.left-pane {
  width: 20%; // Adjust the width of the left pane as needed
  background-color: $background-color; // A dark bluish color
  padding: 20px;
  box-sizing: border-box;
  border-right: 5px solid #919191;
}

.right-pane {
  width: 80%; // Adjust the width of the right pane as needed
  background-color: $background-color;
  padding: 20px;
  box-sizing: border-box;
}
