@import "../../assets/globals";

.panes {
	display: flex;
	gap: 0.3rem;

	width: 100%;
	height: 100%;

	&>* {
		// flex-grow: 1;
		// flex-shrink: 1;
		flex-basis: auto;

		// background-color: #cccccc50;
		padding: 5px;

		&:last-child {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: auto;
		}
	}

}

.columnPanes {
	flex-direction: column;
}

.rowPanes {
	flex-direction: row;
}

.pane {}

$handle-width: 3px;

.handle {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: $handle-width;

	user-select: none;
	box-sizing: border-box;

	padding: 0;

	background-color: $disabled-color;

	&:hover,
	&:active {
		background-color: $accent-color;
	}
}

.horizontalHandle {
	height: $handle-width;
	cursor: row-resize;
}

.verticalHandle {
	width: $handle-width;
	cursor: col-resize;
}
