@import "../../assets/globals";

.formContainer {}

.dragFileArea {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
	border: 2px dashed $accent-color;
	padding: 4rem 5rem;
	text-align: center;
	cursor: pointer;
	transition: border-color 0.2s ease-in-out;

	&.drag-file-area-hover,
	&:hover {
		border-color: $translated-color;

		.browseFilesText {
			color: $translated-color;
		}
	}
}

.drag-file-area-hover {}

.uploadFileIcon {
	height: 5rem;
	animation: hithere 3s ease infinite;
	animation-delay: 1s;
}

.instructions {
	font-size: 2rem;
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.alternativeInstructions {
	font-size: 1.25rem;
	margin: 0;
}

.browseFilesText {
	color: $accent-color;
	font-weight: bolder;
	transition: color 0.2s ease-in-out;
}


@keyframes hithere {
	0% {
		transform: scale(1);
	}

	15% {
		transform: scale(1.2);
	}

	20% {
		transform: rotate(-20deg) scale(1.2);
	}

	25% {
		transform: rotate(20deg) scale(1.2);
	}

	30% {
		transform: rotate(-20deg) scale(1.2);
	}

	35% {
		transform: rotate(0deg) scale(1.2);
	}

	50% {
		transform: scale(1);
	}

	100% {
		transform: scale(1);
	}
}
